/* This file is for your main application css. */

.help-block {
  color: red;
  text-transform: capitalize;
  margin: 10px 0;
  padding: 15px;
  background-color: #fdd;
  border: 1px solid #eee;
  border-radius: 5px;
}
